<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="assets/css/topcoat-desktop-light.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        
    </head>
    <body ng-controller="CharacterCount">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="content-container">

            <label class="topcoat-radio-button">
              <input type="radio" name="characterCount" value="characterCount" id="character-count" ng-model="typeOfCount" ng-Change="characterCountReset()">
              <div class="topcoat-radio-button__checkmark"></div>
              Character Count
            </label>

            <label class="topcoat-radio-button">
              <input type="radio" value="wordCount" name="wordCount" id="word-count" ng-model="typeOfCount" ng-Change="characterCountReset()">
              <div class="topcoat-radio-button__checkmark"></div>
              Word Count 
            </label>

        </div>


        <div class="input-container">
            
            <textarea class="topcoat-textarea--large main-input" rows="6" cols="36" placeholder="Insert Your Text Here." ng-model="input" ng-change="update()"></textarea>

        </div>

        <div class="content-container">

            <p class="character-count">{{counter}}</p>

        </div>
        <div class="content-container">

            <h3>Common Character Limits</h3>

            <ul>
                <li>Google Title Tag should be between 70 characters.</li>
                <li>Google Meta Descriptions should be between 150-160 characters.</li>
                <li>Twitter's character limit is 140.</li>
            </ul>

        </div>
       

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script src="assets/js/main.js" type="text/javascript"></script>
        
    </body>
</html>