.input-container{
	
	position: relative;
	margin: 2em auto;
	width: 90%;
	height: 8em;	
	background-color: #000;
	max-width: 1200px;

}

.main-input{

	position: relative;
	width: 94%;
	height: 4em;
	margin: 2.5em 3%;


}

.content-container{

	position: relative;
	margin: 2em auto;
	width: 90%;	
	max-width: 1200px;

}

.content-container > p{

	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;


}

.content-container > .topcoat-radio-button{

		margin-left: 2%;

}