.input-container{
	
	position: relative;
	margin: 2rem auto;
	width: 90%;
	height: 16rem;	
	background-color: #000;
	max-width: 1200px;

}

.main-input{

	position: relative;
	width: 94%;
	height: 12rem;
	margin: 2rem 3%;


}

.content-container{

	position: relative;
	margin: 2rem auto;
	width: 90%;	
	max-width: 1200px;

}

.content-container > p{

	text-align: center;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;


}

.content-container > .topcoat-radio-button{

		margin-left: 2%;

}